<app-admin-navbar></app-admin-navbar>

<div class="container">
  <h4>User Management</h4>
  <div class="btn-group" role="group" aria-label="Basic button toggle group">
    <button
      type="button"
      class="btn"
      [ngClass]="{
        'btn-primary': button1Selected,
        'btn-outline-primary': !button1Selected
      }"
      (click)="toggleButton(1)"
    >
      Pending list
    </button>

    <button
      type="button"
      class="btn"
      [ngClass]="{
        'btn-primary': button2Selected,
        'btn-outline-primary': !button2Selected
      }"
      (click)="toggleButton(2)"
    >
      Accepted list
    </button>

    <button
      type="button"
      class="btn"
      [ngClass]="{
        'btn-primary': button3Selected,
        'btn-outline-primary': !button3Selected
      }"
      (click)="toggleButton(3)"
    >
      Rejected list
    </button>

    <button
      type="button"
      class="btn"
      [ngClass]="{
        'btn-primary': button4Selected,
        'btn-outline-primary': !button4Selected
      }"
      (click)="toggleButton(4)"
    >
      Download User Data
    </button>
  </div>
</div>

<div class="tables">
  <app-admin-user-pending-list
    *ngIf="button1Selected"
  ></app-admin-user-pending-list>
  <app-admin-user-accepted-list
    *ngIf="button2Selected"
  ></app-admin-user-accepted-list>
  <app-admin-user-rejected-list
    *ngIf="button3Selected"
  ></app-admin-user-rejected-list>
  <app-admin-user-selectdaterange *ngIf="button4Selected">
  </app-admin-user-selectdaterange>
</div>
