<section id="contact">
  <div class="section-content">
    <h1 class="section-header"><i>Golden Future</i></h1>
  </div>
  <div class="main-div card-div row justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="card">
        <div class="contact-section">
          <div class="container">
            <form>
              <div class="row">
                <div class="col-md-6 col-12 logo-background">
                  <div class="logo-center">
                    <img
                      src="../../assets/img/golden_future_logo.png"
                      width="180px"
                      height="180px"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-12 login-div">
                  <h1>Your Account is still under activation</h1>
                </div>
                <br />
                <p class="signup-text">
                  Contact Us: +91 6362934674 or +91 6364845491<br />
                  Gmail: goldenfuturelifeofficial@gmail.com
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
