<section id="contact">
  <div class="section-content">
    <h1 class="section-header"><i>Golden Future</i></h1>
  </div>
  <div class="main-div card-div row justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="card">
        <div class="contact-section">
          <div class="container">
            <form [formGroup]="forgotPasswordResetForm">
              <div class="row">
                <div class="col-md-6 col-12 logo-background">
                  <div class="logo-center">
                    <img
                      src="../../assets/img/golden_future_logo.png"
                      width="180px"
                      height="180px"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-12 login-div">
                  <h3 class="login-heading">Forgot Password</h3>
                  <p><span style="color: red;">*</span> Indicates Mandatory</p>
                  <div class="form-group">
                    <label for="email">Email ID<span style="color: red;">*</span></label>
                    <input
                      required
                      type="text"
                      class="form-control"
                      id="email"
                      placeholder=" Enter Email ID"
                      formControlName="email"
                    />
                    <small *ngIf ="!forgotPasswordResetForm.get('email')?.valid && forgotPasswordResetForm.get('email')?.touched">
                      Enter Valid Email ID</small>
                  </div>
                  <div style="text-align: center !important">
                    <button
                      type="button"
                      class="btn btn-default submit"
                      (click)="onSendOtp()"
                    >
                      <i class="fa fa-paper-plane" aria-hidden="true"></i> Send OTP
                    </button>
                  </div>
                  <br />
                  <label for="enteredOtp">Enter OTP<span style="color: red;">*</span></label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder=" Enter OTP"
                    required
                    formControlName="enteredOtp"
                  />
                  <small *ngIf ="!forgotPasswordResetForm.get('enteredOtp')?.valid && forgotPasswordResetForm.get('enteredOtp')?.touched">
                    Enter Valid OTP</small>
                  <br />
                  <label for="enterpassword">Enter Password<span style="color: red;">*</span></label>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Enter New Password"
                    formControlName = "password"
                  />
                  <small *ngIf ="!forgotPasswordResetForm.get('password')?.valid && forgotPasswordResetForm.get('password')?.touched">
                    Enter Valid Password</small>
                  <br />
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Confirm New Password"
                    required
                    formControlName="enteredPassword"
                  />
                  <small *ngIf ="!forgotPasswordResetForm.get('enteredPassword')?.valid && forgotPasswordResetForm.get('enteredPassword')?.touched">
                    Enter Valid Confirm Password</small>
                  <small *ngIf ="forgotPasswordResetForm.errors?.['passwordMismatchError'] && forgotPasswordResetForm.get('enteredPassword')?.touched">
                    Passwords do not match</small>
                  <br />

                  <div style="text-align: center !important">
                    <button
                      type="button"
                      class="btn btn-default submit"
                      (click)="onResetPassword()"
                      [disabled]="forgotPasswordResetForm.invalid"
                    >
                      <i class="fa fa-paper-plane" aria-hidden="true"></i>
                      Submit
                    </button>
                  </div>
                  <br />
                  <p class="signup-text">
                    Contact Us: +91 6362934674 or +91 6364845491<br />
                    Gmail: goldenfuturelifeofficial@gmail.com
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
