<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Referral ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">UPI ID</th>
        <th scope="col">Created on</th>
        <th scope="col">Withdraw Amount</th>
        <th scope="col">Balance</th>
        <th scope="col">Done</th>
        <th scope="col">Rejected</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of paymentData; let i = index">
        <td scope="row">{{ i + 1 }}</td>
        <td>{{ payment.referenceId }}</td>
        <td>{{ payment.firstname }}</td>
        <td>{{ payment.lastname }}</td>
        <td>{{ payment.phone }}</td>
        <td>{{ payment.address }}</td>
        <td>{{ payment.userUPI }}</td>
        <td>{{ payment.createdAt }}</td>
        <td>{{ payment.amount }}</td>
        <td>{{ payment.balance }}</td>
        <td>
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="updatePaymentStatusById(payment.accountId, 'ACCEPTED')"
            [disabled]="isButtonDisabled(+payment.amount, +payment.balance)"
          >
            Done
          </button>
        </td>
        <td>
          <button
            type="button"
            class="btn btn-outline-danger"
            (click)="updatePaymentStatusById(payment.accountId, 'REJECTED')"
          >
            Rejected
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
