<section id="contact">
  <div class="section-content">
    <h1 class="section-header"><i>Golden Future</i></h1>
  </div>
  <div class="main-div card-div row justify-content-center align-items-center">
    <div class="col-md-6">
      <div class="card">
        <div class="contact-section">
          <div class="container">
            <form autocomplete="off" [formGroup]="adminLoginForm">
              <div class="row">
                <div class="col-md-6 col-12 logo-background">
                  <div class="logo-center">
                    <img
                      src="../../assets/img/golden_future_logo.png"
                      width="180px"
                      height="180px"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-12 login-div">
                  <h3 class="login-heading">Admin Login</h3>
                  <div class="form-group">
                    <label for="username">User name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="username"
                      placeholder=" Enter Phone number"
                      autocomplete="off"
                      formControlName="phonenumber"
                    />
                    <small *ngIf ="!adminLoginForm.get('phonenumber')?.valid && adminLoginForm.get('phonenumber')?.touched">
                      Enter Valid Username</small>
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      placeholder=" Enter Password"
                      autocomplete="off"
                      formControlName="password"
                    />
                    <small *ngIf ="!adminLoginForm.get('password')?.valid && adminLoginForm.get('password')?.touched">
                      Enter Valid Password</small>
                  </div>
                  <div style="text-align: center !important">
                    <button
                      type="button"
                      class="btn btn-default submit"
                      (click)="onAdminLogin()"
                      [disabled]="adminLoginForm.invalid"
                    >
                      <i class="fa fa-paper-plane" aria-hidden="true"></i> Login
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
